.app-container {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  }
  
  /* .chat-history {
    
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
  } */
/*   
  .chat-box {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
  }
   */